bottle==0.12.13
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
graphviz==0.8.4
idna==2.6
kiwisolver==1.0.1
mxnet==1.2.1.post1
numpy==1.14.5
opencv-python==3.4.3.18
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.18.4
six==1.11.0
urllib3==1.22
